.scrolled{
  height: 30%;
  transition: 1s;
}
.base_line_1{
height: 40%;  
transition: 1s;
}
.base_line_2{
  height: 50%;  
  transition: 1s;
}
.base_line_3{
  height: 60%;  
  transition: 1s;
}
.base_line_4{
  height: 65%;  
  transition: 1s;
}
.base_line_5{
  height: 70%;  
 transition: 1s;
 }
.base_line_6{
  height: 80%;
  transition: 1s;
}
.base_line_7{
  height: 85%;
  transition: 1s;
}
.base_line_8{
  height: 100%;
  transition: 1s;
}
div{
  transition: 1s;
}
.div1,.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9,.div10,.div11,.div12{
  
 width: 500px;
 height: 50px;

}

.main-div{

  height: 1500px;
}
@media (max-width: 800px){
  .scrolled{
    height: 20%;
    transition: 5s;
    position: absolute;
    left: 55px;
  }
  html{
    background-color: rgb(0, 0, 0);
   
  }
 
  .main-div{
   
    width: 100%;
   
  }
  .div1,.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9,.div10,.div11,.div12{
   display:block;
    max-width: 350px;
    left: 70px;

  }
  .div1,.div3,.div5,.div7,.div9,.div11{
  display: none;

  }
  .scrolled{
  
    transition: 1s;
  }
  .base_line_1{
  height: 80%;  
  transition: 1s;
  }
  .base_line_2{
    height: 100%;  
    transition: 1s;
  }
  .base_line_3{
    height: 130%;  
    transition: 1s;
  }
  .base_line_4{
    height: 160%;  
    transition: 1s;
  }
  .base_line_5{
    height: 180%;  
   transition: 1s;
   }
  .base_line_6{
    height: 200%;
    transition: 1s;
  }
  .base_line_7{
    height: 220%;
    transition: 1s;
  }
  .base_line_8{
    height: 225%;
    transition: 1s;
  }
  .base_line_9{
    height: 255%;
    transition: 1s;
  }
  /* .parent{
    display: flex;
    justify-content: flex-start;
    color: black;
  } */
}
